.storeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    padding-left: 15%;
}

.LoaderPos {
    position: fixed;
    top: 30%;
    left: 50%;
}

.opacityBox {
    opacity: 0.5;
    pointer-events: none;
}

@media only screen and (max-width: 499px) {
    .storeBox {
    padding-left: 20%;
    }
}