.filter {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 18px;
    min-width: 4%;
    text-align: center;
    text-transform: UPPERCASE;
    color: #1fa082;
    margin-right: 1%;
    margin-bottom: 1%;
    cursor: pointer;
    border: 2px solid #1fa082;
}

.selected {
    background-color: #1fa082;
    color: white;
    box-shadow: 0 -3px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 23px 0 rgba(0, 0, 0, 0.19);
}


.filter:hover {
    box-shadow: 0 -3px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 23px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 499px) {
    .filter {
        padding: 4px;
    }
  }
