.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FCC253;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 8px 8px -1px rgba(0,0,0,.2);
}


.Toolbar h3 {
    margin-left: 45%;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    margin-top: 1%;
}

@media (max-width: 499px) {
  .Toolbar h3{
    margin-left: 30%;
    margin-top: 20px;
  }
}