.shell {
    width: 15%;
    border: 2px solid #1fa082;
    box-shadow: 8px 8px 8px -1px rgba(0,0,0,.2);
    background-color: #1fa082;
    padding-top: 70px;
    position: fixed;
    height: 100vh;
}



