


.App {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 499px) {
  /* For mobile phones: */
  .App {
    max-width:95%;
  }
}