.filters {
    width: 100%;
    display: inline-block;
}

.filters i {
    font-size: 26px !important;
    margin-right: 1%;
    color: #1fa082;
}


@media only screen and (max-width: 499px) {
    .filters {
        padding-left: 2%;
    }
  }
