.filters {
    width: 100%;
    display: inline-block;
    padding-left: 5%;
}

.filters i {
    font-size: 26px !important;
    margin-right: 1%;
    color: #1fa082;
}

.remove{
    text-align: center;
    font-size: 25px;
    margin-bottom: 2%;
    color: #E53935;
}

.remove i , .remove span {
    display: none;
}



@media only screen and (max-width: 499px) {
    .filters {
        padding-left: 2%;
    }
  }
